@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf) format('opentype');
}

body{
    background-color: #1B48C2;
    border: 0px;
    margin: 0px;
}

section#menu{
    background-image: linear-gradient(to top ,#102B75 10%,#225BF5);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.541);
}

section#menu>h1{
    font-family: 'bebas neue', sans-serif;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.418);
    border: 0px;
    margin: 0px;
    padding-top: 50px;
    
}

section#menu>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: normal;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.267);
    border: 0px;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

nav>a{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.267);
    border: 0px;
    margin: 0px;
    padding: 12px;
    text-decoration: none;
    transition-duration: 0.5s;
}

nav>a:hover{
    background-color: #225BF5;
    color: #273355;
    border-radius: 10px;
}

.fundo{
    background-color: white;
    margin: auto;
    padding-bottom: 20px;
    min-width: 320px;
    max-width: 1000px;
}

img{
    width: 100%;
}

section#conteudoprincipal>h1{
    font-family: 'idroid';
    font-size: 25px;
    color: #344575;
    margin: 0px;
    padding: 0px 15px;
    padding-top: 15px;
}

article#parte1>h2{
    background-image: linear-gradient(to right,#6c91f7c7, transparent);
    font-family: 'idroid';
    color: #344575;
    margin: 0px 15px;
    padding: 2px 8px;
}

strong{
    color: #344575;
}

.links{
    background-color: #6c91f7c7;
    color: #344575;
    font-weight: bold;
    text-decoration: none;
    padding: 3px;
}

.links:hover{
    text-decoration: underline;
}

article#parte1>p{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-indent: 22px;
    padding: 15px 15px;
    text-align: justify;
    line-height: 24px;
    margin: 0px;
}

.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video{
    background-color: #344575;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video>iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside#curiosidades{
    background-color: #6c91f7b7;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.39);
}

aside#curiosidades>h2{
    background-color: #102B75;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
    font-weight: lighter;
    padding: 5px;
    margin: 0px;
    border-radius: 8px 8px 0px 0px;
    
}

aside#curiosidades>p{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-indent: 22px;
    padding: 10px;
    text-align: justify;
    line-height: 24px;
    margin: 0px;
}

aside>ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

ul>li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

div#final>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-indent: 22px;
    padding: 12px;
    margin: 0px;
    text-align: justify;
}

footer{
    background-color: #273355;
    margin-top: 10px;
}

footer>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 5px;
}